<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="nunLogo" href="#"><%= image_tag "nun.png", id: "nunLogo" %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="batx" type="text" id="blackHabbitSearch" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default" ng-click="genSearch(batx)"><i class="fa fa-search"></i></button>
        <!-- <button type="button" class="btn btn-default" ng-click="genSearch()"><i class="fa fa-search"></i></button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="Username">William Dembinski</a></li>
        <li class="dropdown">
          <a href="#" id="blackHabbitSettings"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i id="settingsCog"class="fa fa-cog fa-2x"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- collapse -->
  </div><!-- fluid -->
</nav>
 <div class="blackHabbitTools jumbotron">
    <ul class="nav navbar-nav navbar-right ">
     <li class="dropdown">
        <a href="#" id="blackHabbitSettings"class="dropdown-toggle suggestionSettings" data-toggle="dropdown" role="button" aria-expanded="false"><i id="settingsCog"class="fa fa-caret-square-o-down"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </li>
      </ul>
    <p id="historyTitle">History</p>
    <%= image_tag "thumbNail.jpg", class: "mostRelThumbnail" %>
    <%= image_tag "thumbNail1.jpg", class: "mostRelThumbnail" %>
    <%= image_tag "thumbNail2.jpg", class: "mostRelThumbnail" %>
      <div class="superResultDescription">
        <ul class="descriptionContent">
          <li>
             <a href=""><p class="resultName">d/dubstep</p></a>
          </li>
          <li>
             <p class="resultExpiration">Expires In:</p><a href="">14292</a><p class="createdDate"> Created 1/22/14</p>
          </li>
          <li>
            <p class="json">Record:</p>
             <p class="json">
             {"name" : "d/dubstep","value" : "{\"bitmessage\":\"BM-2cUyrUNq91XqdPSKvcHSytuED9nnTazf5r\"}",
              "expires_in" : 14292}
            </p>
          </li>
          <li>
            <a href=""><p class="visitsToday">Visits Today:</p></a>225
          </li>
          <li>
            <a href=""><p class="status">Status:<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p></a>
          </li>
          <hr>
          <li>
            <p id="snapShotTitle">Snapshot:</p>

            <p id="snapShot"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor<br> <br>in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.  in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur...</p>
          </li>
        </ul>
      </div>
  </div>

  <div class="jumboResults">
    Search: <input ng-model="query">
    <div ng-repeat="result in results | filter:query" class="jumbotron subResult">

      <div class="nextResultDescription">
        <ul class="nextdescriptionContent">
          <li>
             <a href=""><p class="resultName">{{ result.name }}</p></a>
             
             <i class="fa fa-caret-down"></i>
          </li>
          <li class="metaRow">                                                                                      <!-- need to make this an actual var. -->
             <p class="resultExpiration">Expires In:</p><a href="">{{ result.expires_in }} Blocks</a><p class="resultDayttl">Roughly {{ (result.expires_in/currentBlockRate)/24 | number: 2 }} days</p><p class="createdDate"> <!-- {{result.created}} -->Created 1/22/14</p>
          </li>
          <li>
            <p class="json">Record:</p>
             <p class="json">
             {{result}}
            </p>
            <a href="">  <i class="fa fa-question"></i></a>
          </li>
        </ul>
        <ul class="nextResultMetaData">
          <li>
            <a href=""><p class="visitsToday">Visits Today:</p></a>225
          </li>
          <li>
            <a href=""><p class="status">Status:<i class="fa fa-star" ng-repeat="i in starList(4) track by $index"></i><i class="fa fa-star-half"></i></p></a>
            <!-- <a href=""><p class="status">Status:<i class="fa fa-star" ng-repeat="i in starList(result.starRating)"></i><i class="fa fa-star-half"></i></p></a> -->
          </li>
        </ul>
      </div>
    </div>


  </div>