

<%= render "layouts/landing_header" %>





<!-- <nav class="navbar navbar-default bhnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a id="logo" href="#">Bit and Stone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="batx" type="text" id="blackhabitSearch" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default submitSearch" ng-click="genSearch(batx)"><i class="fa fa-search"></i></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          USER EMAIL
        </li>
        <li class="dropdown">
          <a href="#" id="blackhabitSettings"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i id="settingsCog"class="fa fa-cog fa-2x"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->





<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input ng-model="batx" type="text" id="blackhabitSearch" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default submitSearch" ng-click="genSearch(batx)"><i class="fa fa-search"></i></button>
</form>
<div class="popdown" ng-class="{foo:boolChangeClass}">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" id="Username">{{user.name}}</a></li> <!-- USER.NAME -->
    <li class="dropdown">
      <a href="#" id="blackhabitSettings"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-2x"></i></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
  </ul>
</div>
<%= render 'layouts/toolbox' %>


  <div class="jumboResults">
    Search: <input class="blackHabitSort" ng-model="query">
    <div ng-repeat="result in results | startFrom: currentPage*pageSize | limitTo:pageSize| filter:query" selectable="setActiveItem(result.id)"  id="{{result.link.id}}" class="subResult" ng-cloak>
      <!-- <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button> -->
      <div class="result-header">
        <div class="result-name">
            <p class="result-title">{{result.link.name}}</p>
            <p class="resultExpiration">Expires In: </p>
            <a href="">{{ result.link.expires_in }} Blocks</a>
            <p class="resultDayttl">{{expiresIn(result.link.expires_in)}}</p><a href="">  <i class="fa fa-question" popover-placement="top" popover="A 'block' is a unit of computations needed to 'win' 50 NMC, read more at wiki.namecoin.info!'" popover-title="What is a block?"></i></a>
        </div>
        <div class="created-date">
          <p>Created: {{result.created_at | date:"MM/dd/yyyy '|' h:mma"}}</p>
        </div>
      </div>
      <!-- <p class="createdDate">{{result.link.created}}Created 1/22/14</p> -->
      
      <hr>
      <div class="preview-container" ng-click="isCollapsed = !isCollapsed">
        <i ng-class="isCollapsed ? 'fa fa-caret-left fa-2x result-options' : 'fa fa-caret-down fa-2x result-options'" ></i>
        <p class="result-preview" ng-show="isCollapsed" >
          {{result.link.value}}
        </p>
      </div>



      <div ng-show="!isCollapsed">
        <ul class="nextdescriptionContent">
          <li>
            <a href=""><p class="visitsToday">Visits Today:</p></a>###
          </li>
          <li>
            <a href=""><p class="status">Status: ##SOMETHING##</p></a>
          </li>
        </ul>
        <p class="json">
          {{result.link.name}}<br>
          {{result.link.value}}<br>
        </p>
          <!--               <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                <div ng-repeat="item in items">{{item}}</div> -->
      <!--<p>
            <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
            <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
          </p>

          <label class="checkbox">
            <input type="checkbox" ng-model="oneAtATime">
            Open only one at a time
          </label> -->
      </div>
    </div>
  </div>


<%= render 'layouts/pagination'%>


