  <div class="jumbotron">
    <ul class="nav navbar-nav navbar-right ">
     <li class="dropdown">
        <a href="#" id="blackHabbitSettings"class="dropdown-toggle suggestionSettings" data-toggle="dropdown" role="button" aria-expanded="false"><i id="settingsCog"class="fa fa-caret-square-o-down"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </li>
      </ul>
    <h1>Most relevant:</h1>
    <img class="mostRelThumbnail"src="images/thumbNail.jpg">
    <div class="resultDescription">
      <ul class="descriptionContent">
        <li>
           <a href=""><p class="resultName">d/dubstep</p></a>
        </li>
        <li>
           <p class="resultExpiration">Expires In:</p><a href="">14292</a><p class="createdDate"> Created 1/22/14</p>
        </li>
        <li>
          <p class="json">Record:</p>
           <p class="json">
           {"name" : "d/dubstep","value" : "{\"bitmessage\":\"BM-2cUyrUNq91XqdPSKvcHSytuED9nnTazf5r\"}",
            "expires_in" : 14292}
          </p>
        </li>
        <li>
          <a href=""><p class="visitsToday">Visits Today:</p></a>225
        </li>
        <li>
          <a href=""><p class="status">Status:<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p></a>
        </li>
      </ul>
    </div>
  </div>
  <hr>