


.alert-info{
	margin-bottom:0px;
	text-align:right;
}
.alert-danger{
	background-color: #E24D3A;
	border-color: #ebccd1;
	color: #1D1D1D;
}

.bh_home_nav{
	margin-bottom:0px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #1d1d1d;
  background-origin: padding-box;
  background-size: auto;
  box-shadow: rgb(0, 0, 0) 1px 3px 18px 0px;
  a:hover{
    background-color:transparent;
  }
  .navbar-header{
  	margin-left:100px;
  }
  .bs_logo_slogan{
  	display:inline-block;
  	font-family: Raleway, Arial, sans-serif;
  	font-weight: bold;
  	color:#777777;
  	font-style: italic;
  	margin-top:40px;
  }
	.navbar-brand{
		color: rgb(124, 124, 124);
		cursor: default;
		display: block;
		font-family: Raleway, Arial, sans-serif;
		font-size: 140px;
		font-weight: 900;
	}
	.bs_logo{
		height: auto;
		float:left;
	}
	form#logout{
		margin-top:30px !important;
		width:300px;
		float:right;
		margin-top:10px;
		input{
			text-align:center;
			width:35%;
			float:	right;
			margin-right:3px;
			margin-left:3px;
			&:focus{
				box-shadow: none;
				border-width: 3px;
				border-color: #777777;
				color: black;
				font-weight:bold;
			}
		}
	}
	form.login{
		margin-top:30px !important;
		width:640px;
		float:right;
		margin-top:8px;
		a{
			float: right;
			margin-top: 5px;
			font-size: 16px;
			color: rgb(228, 79, 61);
			font-weight: bold;
		}
		input{

			width:35%;
			float:	right;
			margin-right:3px;
			margin-left:3px;
			&:focus{
				box-shadow: none;
				border-width: 3px;
				border-color: #777777;
				color: black;
				font-weight:bold;
			}
		}
		.form-control{
			display:inline;
		}
		.chunky{
			float:right;
			width:auto;
			text-align:right;
		}
	}
}





#why{
	margin: 0 0 0 0;
	height:100%;
	width:100%;
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	.reason_list{
		width:90%;
		margin-left:auto;
		margin-right:auto;
	}
	#heart{
		color:#e44f3d;
	}
	.hr{
		border-top: 1px solid #1D1D1D;
	}

	.reason_cont{

		transition: all 0.3s ease 0s;
		&:hover{
			color:#FFFFFF;
			background-color:#1d1d1d;
		}
		li p{
			display:inline;
			font-size:25px;
			line-height:100%;
		}
		li h3.list_label{
			display:inline;
			font-weight:bold;
		}
	}
	.why_youre_here{

		color:#1d1d1d;
		margin: 0 auto 0 auto;
		font-weight: bold;
	}

	h1.grab{
		text-align:center;
		font-weight: bold;
	  color: #c4c4c4;
	}

	h2.reason_here{
		font-weight:bold;
	}

}
#what{
	.section_head_cont{
		display:inline;
		width:100%;
	}
	.what_cont_cont{
		display:inline;
	}
	li{
		background-color:transparent;
		border: none;

	}
	.what_section{

		.extension{
			transition: all 0.3s ease 0s;

		}
		.extension{
			&:hover{
				background-color:transparent;
			}
			color:#e44f3d;
		}
		.section_header{
			font-size:2.7em;
			display:inline;
			font-weight:bold;
			color:#777777;
		}
		.what_content{
			display:inline;
		}
	}
	.what_num{
		height:100px;
		width:100px;
	}
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	color:#ffffff;
	margin: 0 0 0 0;
	width:100%;
	background-color:rgb(29,29,29);
	border-bottom-color: rgb(231, 231, 231);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1.0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(231, 231, 231);
	border-left-style: solid;
	border-left-width: 1.0px;
	box-shadow: rgb(0, 0, 0) 1px 3px 18px 0px;
	background-color: rgb(29, 29, 29);
	box-sizing: border-box;
	border-right-color: rgb(231, 231, 231);
	border-right-style: solid;
	border-right-width: 1.11111116409302px;
	border-top-color: rgb(231, 231, 231);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1.0px;

	}
	.what_is_here{
		margin:0 0 1% 0;
		color:#fffffff;
		font-weight: bold;



	h3{
	font-weight:bold;
	}
}
#how{
	margin: 0 0 0 0;
	height:100%;
	width:100%;
	font-family: Raleway, Arial, sans-serif;
	font-weight: bold;
	padding-bottom: 8%;
	padding-top: 8%;

	div.field_with_errors{
		background-color:transparent;
	}

	.how_to_join{
		text-align:center;
		font-weight:bold;
	}
	.join_form{
		margin-left:auto;
		margin-right:auto;
		width:33.33%;

		.alert-info{
			margin-bottom:0px;
			text-align:center;
			p{
				font-weight:bold;
			}
		}
		.alert-danger{
			margin-bottom:0px;
			text-align:center;
			p{
				font-weight:bold;
			}
		}
		form {
			input.form-control{
				&:focus{
					box-shadow:none;
					border-width:3px;
					border-color:black;
					color:black;
				}
			}

			div.field_with_errors {
				width:100%;
				input{
					box-shadow: none;
			 		border-width: 3px;
				  border-color: #E24D3A;
			  }
			} 
		}

		.chunky{
			width:200px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
input.chunky {
    /* Normal State */
    margin-left:auto;
    margin-right:auto;
    padding: 4px 15px 7px 15px;
    width: 100%;
    height: auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.50);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.50);
    border-top: 1px solid rgba(0,0,0,0.001);
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    cursor: pointer;
}

input.chunky:hover {
    /* Hover State */
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -webkit-animation: glow 1s infinite ease-in-out;
    cursor: pointer;
}

input.chunky:active {
    /* Active State (clicked on) */
    padding: 6px 15px 5px 15px;
    border-top: 1px solid rgba(0,0,0,0.55);
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-animation: none;
    cursor: pointer !important;
}

@-webkit-keyframes glow { 
    0% {
        box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
    }

    100% {
        box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
    }
}

input.chunky {
	background:#e44f3d;

}
input.chunky.pagebtn{
		width:40%;
	}
.pagination{
	width:100%;
	.pagination_buttons{

	max-width:50%;
	margin:auto;


	}
}


.footer{
	img{
		height:120px;
		margin:10px;
	}
  bottom: 0;
	height:140px;
	width:100%;
	margin-bottom:0px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(29, 29, 29);
  background-origin: padding-box;
  background-size: auto;
  box-shadow: rgb(0, 0, 0) 1px 3px 18px 0px;
  border-bottom-color: rgb(231, 231, 231);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1.0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(231, 231, 231);
  border-left-style: solid;
  border-left-width: 1.0px;
  box-shadow: rgb(0, 0, 0) 1px 3px 18px 0px;
  background-color: rgb(29, 29, 29);
  box-sizing: border-box;
  border-right-color: rgb(231, 231, 231);
  border-right-style: solid;
  border-right-width: 1.11111116409302px;
  border-top-color: rgb(231, 231, 231);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1.0px;
}