<div class="pagination">
  <div class="pagination_buttons">
    <input value="Previous" type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="chunky pagebtn">
    {{currentPage+1}}/{{numberOfPages()}}
    <input value="Next" type="button" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="chunky pagebtn">
  </div>

      
</div>
